<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LISTA</title>
  </head>
  <body>
    <ul>
    {% for i in ListaLetras%}
      <li>{{ i }}</li>
    {% endfor %}
    </ul>
  </body>
</html>
