<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Employee</li>
      <li><a href="{% url 'person_app:employee_all'%}">List</a></li>
      <li><a href="{% url 'person_app:employee_admin'%}">Administrator</a></li>
      <li><a href="{% url 'department_app:department_list'%}">Department</a></li>
      <li><a href="{% url 'department_app:department_new'%}">New department</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search employee"></li>
      <li><a href="{% url 'person_app:employee_add'%}" class="button">Register</a></li>
    </ul>
  </div>
</div>
