{% extends 'base.html' %}

{% load static %}

{% block title %}DEPARTMENT LIST{% endblock %}

{% block content %}

  {% include 'includes/header.html' %}


    <div class="grid-container">
        <div class="grid-x">
          <h3 class="cell">Deparment List</h3>
          <div class="cell">
            <table>
              <tbody>
                {% for department in departments %}
                <tr>
                  <td>{{ department.name }}</td>
                  <td>{{ department.short_name }}</td>
                  <td><a class="button warning" href="{% url 'person_app:employee_by_area' department.short_name %}">Detail Employee</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>


{% endblock %}
