{% extends 'base.html' %}

{% load static %}

{% block title %}{{ person }}{% endblock %}

{% block content %}

  {% include 'includes/header.html' %}

  <div class="grid-container">
    <h1>Employee Detail</h1>
    <div class="grid-x grid-margin-x align-center">
      <div class="cell large-4 card" style="width: 300px; margin-top: 10px;">
        <div class="card-divider">
          {{ person.get_position_display }}
        </div>
        {% if person.image %}
          <img src="{{ person.image.url }}">
        {% else %}
          <img src="{% static 'img/4.jpg' %}">
        {% endif %}
        <div class="card-section">
          <h4>{{ person.full_name }}</h4>
          <p>{{ person.deparment.name }}</p>
          <p><span class="label">Skills:</span></p>
          <ul class="vertical menu">
            {% for i in person.skill.all %}
              <li>{{ i }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
  </div>
  </div>
{% endblock %}
