{% extends 'base.html' %}

{% load static %}

{% block title %}EMPLOYEE LIST{% endblock %}

{% block content %}

  {% include 'includes/header.html' %}

  <div class="grid-container">
    <h1>Update Personal Info</h1>
    <form class="grid-x grid-margin-x" method="POST">
        {% csrf_token %}
      <div class=" cell medium-6">
        <label>Name:
          {{ form.first_name }}
        </label>
      </div>
      <div class=" cell medium-6">
        <label>Last Name:
          {{ form.last_name }}
        </label>
      </div>
      <div class=" cell medium-6">
        <label>Position:
          {{ form.position }}
        </label>
      </div>
      <div class=" cell medium-6">
        <label>Department:
          {{ form.deparment }}
        </label>
      </div>
      <div class=" cell medium-6">
        <label>Skills:
          {{ form.skill }}
        </label>
      </div>
      <div class=" cell">
        <button type="submit" class="success button">Update</button>
      </div>

    </form>
  </div>

{% endblock %}
