{% extends 'base.html' %}

{% load static %}

{% block title %}EMPLOYEE LIST{% endblock %}

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
  <div class="grid-x">
    <h1 class="cell">Delete Personal Info</h1>
    <form class="cell" method="POST">
      {% csrf_token %}
      <div class="callout secondary">
      <h5>{{ object.full_name }}</h5>
      <p>Are you sure to delete this user?</p>
      <button type="submit" class="button alert">Delete</button>
    </div>

    </form>
  </div>


  </div>

{% endblock %}
