{% extends 'base.html' %}

{% load static %}

{% block title %}EMPLOYEE LIST{% endblock %}

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
  <div class="grid-x">
    <h1 class="cell">Employee List</h1>
  </div>
  <div class="cell">
    <table>
      <thead>
        <tr>
          <th width="200">ID</th>
          <th>Name</th>
          <th width="150">Last Name</th>
          <th width="150">Department</th>
            <th width="150">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in object_list %}
        <tr>
          <td>{{ employee.id }}</td>
          <td>{{ employee.first_name }}</td>
          <td>{{ employee.last_name }}</td>
          <td>{{ employee.deparment }}</td>
          <td>
            <a class="button success" href="{% url 'person_app:employee_update' employee.id %}">Edit</a>
          </td>
          <td>
            <a class="button alert" href="{% url 'person_app:employee_delete' employee.id %}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if is_paginated %}
  <nav aria-label="Pagination">
    <ul class="pagination text-center">
      {% if page_obj.has_previous %}
      <li class="pagination-previous">
        <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous page">
          Previous
        </a>
      </li>
      {% endif %}
      {% for pag in paginator.page_range %}
      {% ifequal pag page_obj.number%}
        <li class="current"><span class="show-for-sr">You're on page</span> {{ pag }}</li>
      {% else %}
        <li><a href="?page={{ pag }}" aria-label="Page 2">{{ pag }}</a></li>
      {% endifequal %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="pagination-next">
        <a href="?page={{ page_obj.next_page_number }}" aria-label="Next page">
          Next
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>

{% endblock %}
