{% extends 'base.html' %}

{% load static %}

{% block title %}EMPLOYEE ADD{% endblock %}

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
  <div class="grid-x">
    <h1 class="cell">Add Employee</h1>
    <form class="cell grid-x grid-margin-x" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class=" cell medium-6">
        <label>Name:
          {{ form.first_name }}
        </label>
      </div>
      <div class=" cell medium-6">
        <label>Last Name:
          {{ form.last_name }}
        </label>
      </div>
      <div class=" cell medium-6">
        <label>Position:
          {{ form.position }}
        </label>
      </div>
      <div class=" cell medium-6">
        <label>Department:
          {{ form.deparment }}
        </label>
      </div>
      <div class=" cell medium">
        <label>Skills:
          {{ form.skill }}
        </label>
      </div>
      <div class=" cell medium">
        <label>Photo:
          {{ form.image }}
        </label>
      </div>
      <div class=" cell">
        <button type="submit" class="success button">Add</button>
      </div>
    </form>

  </div>
</div>

  {% endblock %}
