{% extends 'base.html' %}

{% load static %}

{% block title %}EMPLOYEE LIST BY DEPARTMENT{% endblock %}

{% block content %}

  {% include 'includes/header.html' %}


    <div class="grid-container">
    <div class="grid-x">
      <h3 class="cell">Employee Lisy by Area</h3>
      <div class="cell">
        <table>
          <thead>
            <tr>
              <th width="200">ID</th>
              <th>Name</th>
              <th width="150">Last Name</th>
              <th width="150">Department</th>
              <th width="150">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for employee in employees %}
            <tr>
              <td>{{ employee.id }}</td>
              <td>{{ employee.first_name }}</td>
              <td>{{ employee.last_name }}</td>
              <td>{{ employee.deparment }}</td>
              <td><a class="button warning" href="{% url 'person_app:employee_detail' employee.id %}">Detail Employee</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>


{% endblock %}
