{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body class="">
    {% block content %}{% endblock content %}

    <script src="{% static 'js/vendor.js' %}"></script>

    <script src="{% static 'js/foundation.js' %}"></script>
    <script>
     $(document).foundation();
   </script>
  </body>
</html>
