{% extends 'base.html' %}

{% load static %}

{% block title %}NEW DEPARTMENT{% endblock %}

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
  <div class="grid-x">
    <h3 class="cell">New department</h3>
    <form class="cell callout grid-x grid-margin-x" method="POST">
      {% csrf_token %}
      <div class="cell medium-6">
        <label>Name:
            {{ form.name }}
        </label>
      </div>
      <div class="cell medium-6">
        <label>Last name:
            {{ form.last_name }}
        </label>
      </div>
      <div class="cell medium-6">
        <label>Department:
            {{ form.department }}
        </label>
      </div>
      <div class="cell medium-6">
        <label>Department short name:
            {{ form.short_name }}
        </label>
      </div>
      <div class="cell">
          <button type="submit" class="button">Guardar</button>
      </div>
    </form>
  </div>
</div>

  {% endblock %}
